body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display: flex;
    flex-direction: row;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #168aad;
    color: white;
}
.artigos{
    margin: 5px;
    padding: 4px;
    background-color: #76c893;
}